In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('fifa18_clean.csv')

In [4]:
df.head()

,Wage (€),Value (€),Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,565000,95500000,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,565000,105000000,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,280000,123000000,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,510000,97000000,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,230000,61000000,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.drop(columns=columns_to_drop, inplace=True)

In [23]:
df.head()

,Wage (€),Value (€),Name,Age,Nationality,Overall,Potential,Special,Acceleration,Aggression,...,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,ID,Preferred Positions
0,565000,95500000,Cristiano Ronaldo,32,Portugal,94,94,2228,89.0,63.0,...,94.0,23.0,91.0,92.0,31.0,80.0,85.0,88.0,20801,ST
1,565000,105000000,L. Messi,30,Argentina,93,93,2154,92.0,48.0,...,85.0,26.0,87.0,73.0,28.0,59.0,90.0,85.0,158023,RW
2,280000,123000000,Neymar,25,Brazil,92,94,2100,94.0,56.0,...,80.0,33.0,90.0,78.0,24.0,53.0,80.0,83.0,190871,LW
3,510000,97000000,L. Suárez,30,Uruguay,92,92,2291,88.0,78.0,...,87.0,38.0,77.0,89.0,45.0,80.0,84.0,88.0,176580,ST
4,230000,61000000,M. Neuer,31,Germany,92,92,1493,58.0,29.0,...,25.0,11.0,61.0,44.0,10.0,83.0,70.0,11.0,167495,GK

In [14]:
df['Preferred Positions'] = df['Preferred Positions'].str.split().str[0]

In [15]:
df['Preferred Positions']

0        ST
1        RW
2        LW
3        ST
4        GK
         ..
17976    GK
17977    GK
17978    ST
17979    CM
17980    ST
Name: Preferred Positions, Length: 17981, dtype: object

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17981 entries, 0 to 17980
Data columns (total 44 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Wage (€)             17981 non-null  int64
 1   Value (€)            17981 non-null  int64
 2   Name                 17981 non-null  object
 3   Age                  17981 non-null  int64
 4   Nationality          17981 non-null  object
 5   Overall              17981 non-null  int64
 6   Potential            17981 non-null  int64
 7   Special              17981 non-null  int64
 8   Acceleration         17897 non-null  float64
 9   Aggression           17913 non-null  float64
 10  Agility              17910 non-null  float64
 11  Balance              17924 non-null  float64
 12  Ball control         17840 non-null  float64
 13  Composure            17887 non-null  float64
 14  Crossing             17885 non-null  float64
 15  Curve                17908 non-null  float64
 16  Dribbling            17850 non-null  float64
 17  Finishing            17867 non-null  float64
 18  Free kick accuracy   17932 non-null  float64
 19  GK diving            17955 non-null  float64
 20  GK handling          17954 non-null  float64
 21  GK kicking           17962 non-null  float64
 22  GK positioning       17955 non-null  float64
 23  GK reflexes          17952 non-null  float64
 24  Heading accuracy     17906 non-null  float64
 25  Interceptions        17881 non-null  float64
 26  Jumping              17911 non-null  float64
 27  Long passing         17860 non-null  float64
 28  Long shots           17898 non-null  float64
 29  Marking              17869 non-null  float64
 30  Penalties            17951 non-null  float64
 31  Positioning          17886 non-null  float64
 32  Reactions            17866 non-null  float64
 33  Short passing        17832 non-null  float64
 34  Shot power           17908 non-null  float64
 35  Sliding tackle       17886 non-null  float64
 36  Sprint speed         17867 non-null  float64
 37  Stamina              17873 non-null  float64
 38  Standing tackle      17857 non-null  float64
 39  Strength             17877 non-null  float64
 40  Vision               17874 non-null  float64
 41  Volleys              17940 non-null  float64
 42  ID                   17981 non-null  int64
 43  Preferred Positions  17981 non-null  object
dtypes: float64(34), int64(7), object(3)
memory usage: 6.0+ MB

In [26]:
df.describe()

,Wage (€),Value (€),Age,Overall,Potential,Special,Acceleration,Aggression,Agility,Balance,...,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,ID
count,17981.000000,1.798100e+04,17981.000000,17981.000000,17981.000000,17981.000000,17897.000000,17913.000000,17910.000000,17924.000000,...,17832.000000,17908.000000,17886.000000,17867.000000,17873.000000,17857.000000,17877.000000,17874.000000,17940.000000,17981.000000
mean,11546.966242,2.385390e+06,25.144541,66.247984,71.190813,1594.095100,64.576521,55.791492,63.333613,63.803894,...,58.263964,55.622292,45.496645,64.795713,63.233201,47.352187,65.279130,52.967495,43.198495,207658.710138
std,23080.000139,5.353970e+06,4.614272,6.987965,6.102199,272.151435,14.918313,17.476572,14.802800,14.100950,...,14.947943,17.408483,21.489926,14.649127,15.942738,21.851023,12.618415,14.387015,17.734259,32291.667313
min,0.000000,0.000000e+00,16.000000,46.000000,46.000000,728.000000,11.000000,11.000000,14.000000,11.000000,...,10.000000,3.000000,4.000000,11.000000,12.000000,4.000000,12.000000,10.000000,4.000000,16.000000
25%,2000.000000,3.000000e+05,21.000000,62.000000,67.000000,1449.000000,56.000000,43.000000,55.000000,56.000000,...,53.000000,46.000000,23.000000,57.000000,56.000000,26.000000,58.000000,43.000000,30.000000,192622.000000
50%,4000.000000,6.750000e+05,25.000000,66.000000,71.000000,1633.000000,67.000000,59.000000,65.000000,66.000000,...,62.000000,59.000000,51.000000,67.000000,66.000000,54.000000,66.000000,54.000000,44.000000,214057.000000
75%,12000.000000,2.100000e+06,28.000000,71.000000,75.000000,1786.000000,75.000000,69.000000,74.000000,74.000000,...,68.000000,69.000000,64.000000,75.000000,74.000000,66.000000,74.000000,64.000000,57.000000,231448.000000
max,565000.000000,1.230000e+08,47.000000,94.000000,94.000000,2291.000000,96.000000,96.000000,96.000000,96.000000,...,92.000000,94.000000,91.000000,96.000000,95.000000,92.000000,98.000000,94.000000,91.000000,241219.000000

In [27]:
df.isnull().sum()

Wage (€)                 0
Value (€)                0
Name                     0
Age                      0
Nationality              0
Overall                  0
Potential                0
Special                  0
Acceleration            84
Aggression              68
Agility                 71
Balance                 57
Ball control           141
Composure               94
Crossing                96
Curve                   73
Dribbling              131
Finishing              114
Free kick accuracy      49
GK diving               26
GK handling             27
GK kicking              19
GK positioning          26
GK reflexes             29
Heading accuracy        75
Interceptions          100
Jumping                 70
Long passing           121
Long shots              83
Marking                112
Penalties               30
Positioning             95
Reactions              115
Short passing          149
Shot power              73
Sliding tackle          95
Sprint speed           114
Stamina                108
Standing tackle        124
Strength               104
Vision                 107
Volleys                 41
ID                       0
Preferred Positions      0
dtype: int64

In [28]:
df.to_csv('new_fifa1.csv', index=False)

In [29]:
df[df['Name'] == 'L. Messi']['Nationality']

1    Argentina
Name: Nationality, dtype: object

In [31]:
df.head(10)

,Wage (€),Value (€),Name,Age,Nationality,Overall,Potential,Special,Acceleration,Aggression,...,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,ID,Preferred Positions
0,565000,95500000,Cristiano Ronaldo,32,Portugal,94,94,2228,89.0,63.0,...,94.0,23.0,91.0,92.0,31.0,80.0,85.0,88.0,20801,ST
1,565000,105000000,L. Messi,30,Argentina,93,93,2154,92.0,48.0,...,85.0,26.0,87.0,73.0,28.0,59.0,90.0,85.0,158023,RW
2,280000,123000000,Neymar,25,Brazil,92,94,2100,94.0,56.0,...,80.0,33.0,90.0,78.0,24.0,53.0,80.0,83.0,190871,LW
3,510000,97000000,L. Suárez,30,Uruguay,92,92,2291,88.0,78.0,...,87.0,38.0,77.0,89.0,45.0,80.0,84.0,88.0,176580,ST
4,230000,61000000,M. Neuer,31,Germany,92,92,1493,58.0,29.0,...,25.0,11.0,61.0,44.0,10.0,83.0,70.0,11.0,167495,GK
5,355000,92000000,R. Lewandowski,28,Poland,91,91,2143,79.0,80.0,...,88.0,19.0,83.0,79.0,42.0,84.0,78.0,87.0,188545,ST
6,215000,64500000,De Gea,26,Spain,90,92,1458,57.0,38.0,...,31.0,13.0,58.0,40.0,21.0,64.0,68.0,13.0,193080,GK
7,295000,90500000,E. Hazard,26,Belgium,90,91,2096,93.0,54.0,...,79.0,22.0,87.0,79.0,27.0,65.0,86.0,79.0,183277,LW
8,340000,79000000,T. Kroos,27,Germany,90,90,2165,60.0,60.0,...,87.0,69.0,52.0,77.0,82.0,74.0,88.0,82.0,182521,CDM
9,275000,77000000,G. Higuaín,29,Argentina,90,90,1961,78.0,50.0,...,88.0,18.0,80.0,72.0,22.0,85.0,70.0,88.0,167664,ST